html, body {
    margin: 0;
    padding: 0;
    background-color: #1b1b1b;
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 13px;
    background-image: url("../img/LaDigue_EN-CN5418321345_1920x1080.jpg");
    background-position-x: center;
}

* {
    font-family: 'Microsoft YaHei';
    font-weight: 300;
}

#container {
    position: absolute;
    padding: 0 20px 0 20px;
    top: 12%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 400px;
}

#header {
    -webkit-box-shadow: 1px 1px 20px 0px #000;
    -moz-box-shadow: 1px 1px 20px 0px #000;
    box-shadow: 1px 1px 20px 0px #000;
    border: 1px solid rgba(0,0,0,0.3);
    background-color: rgba(0,0,0,0.8);
    margin: 4px;
    padding: 8px;
}

    #header:hover {
        background-color: rgba(0,0,0,0.85);
        border: 1px solid rgba(0,0,0,0.85);
    }


#links {
    display: -moz-box;
    display: -webkit-box;
    width: 100%;
}

.linksbox {
    -webkit-box-shadow: 1px 1px 20px 0px #000;
    -moz-box-shadow: 1px 1px 20px 0px #000;
    box-shadow: 1px 1px 20px 0px #000;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    margin: 4px;
    padding: 8px 8px 8px 8px;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid rgba(0,0,0,0.3);
}

    .linksbox:hover {
        background-color: rgba(0,0,0,0.85);
        border: 1px solid rgba(0,0,0,0.85);
    }

    .linksbox a {
        display: block;
        color: #6673BF;
        margin-top: 3px;
    }

h3 {
    font-size: 15px;
    /*font-variant: small-caps;*/
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.search-bar {
    -webkit-box-shadow: 1px 1px 20px 0px #000;
    -moz-box-shadow: 1px 1px 20px 0px #000;
    box-shadow: 1px 1px 20px 0px #000;
    border: 1px solid rgba(0,0,0,0.3);
    background-color: rgba(0,0,0,0.8);
    margin: 4px;
    padding: 1%;
}

.search-bar-header {
    font-size: 15px;
    display: inline-block;
    color: rgba(255,255,255,1);
    vertical-align: top;
    width: 10%;
    padding: 2px 0px 2px 0px;
}

a {
    font-size: 13px;
    /*font-variant: small-caps;*/
    text-decoration: none;
}

    a:link {
        color: rgba(255,255,255,0.6);
    }

    a:visited {
        color: rgba(255,255,255,0.6);
    }

    a:hover {
        color: rgba(255,255,255,0.45);
    }

.green {
    padding: 0;
    color: rgba(255,255,255,1);
}

form {
    display: inline;
}

input {
    text-align: center;
    border: none;
    background: rgba(255,255,255,0.1);
    color: #fff;
    width: 100%;
    font-size: 15px;
    padding: 2px 0px 2px 0px;
}

#clockbox {
    /*position: absolute;*/
    padding: 0 20px 0 20px;
    top: 44%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    height: 140px;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 1px 20px 0px #000;
    -moz-box-shadow: 1px 1px 20px 0px #000;
    box-shadow: 1px 1px 20px 0px #000;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
}

.twitter-typeahead {
    vertical-align: top;
    width: 88%;
}

.tt-input {
}

.tt-menu {
    width: 100%;
    cursor: default;
    margin-top: 2px;
    box-shadow: 1px 1px 20px 0px #000;
    background-color: rgba(0,0,0,0.9);
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
}

.tt-suggestion {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align:center;
}

.tt-cursor {
    background: #0097CF;
    color: #FFFFFF;
}

.tt-selectable:hover {
    background: #0097CF;
    color: #FFFFFF;
}
